<ion-view cache-view="false" view-title="" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" hide-nav-bar="false">
  <ion-content class="" scroll="true">
  
  <ion-scroll>
	
  <ion-list >
		
	  <ion-item   style="text-align:center;max-width:100%;">
	  <img  style="height:{{dev_height-30}}px; max-width:100%;"ng-src="img/Untitled-12.png"  > 
			
		</img>
	 <!--  <button class="my-button icon ion-close-circled"></button>-->
	  </ion-item>
	  
  
  </ion-list>
 
  </ion-content>
</ion-view>
