<ion-view cache-view="false" view-title="" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" hide-nav-bar="false">

  <ion-content class="" scroll="true" style="top:0;">
  
  <ion-scroll>
  
  <ion-list >
 
	
	  <ion-item   style="text-align:center;padding:0px;margin:0px;border:0px;max-width:100%;">
	   <img  style="height:{{dev_height-30}}px; max-width:100%;"ng-src="img/Untitled-2.png"  />
	  <!-- <button class="my-button icon ion-close-circled"></button> -->
	  </ion-item>
 
  
  </ion-list>

   <!--   <img class="page1" ng-src="img/12.jpg" id="map_image" alt="" />-->

    </ion-scroll>
		
  </ion-content>
  
</ion-view>
